body{
    background-color: blueviolet;
}
h1 {
    border-style: solid;
    width: 50%;
    margin: 10%;
    font-size: 4em  ;
}

.contenedor {
    border-style: solid;
    background-color: aquamarine;
    width: 80%;
    margin: 7%;
    position: relative;
    bottom: 250px;
}
img {
    height: 256px;
    width: 256px;
    border-radius: 20%;
    position: relative;
    left: 830px;
    bottom: 200px;
}
.Facebook {

    height: 64px;
    width: 64px;
}
