h1 {font-size: 100px;
    position: relative;
    border-style: solid;
    bottom: 40%;
    width: 50%;
    margin: 7%;
    }

.avatar {
    display: flex;
    justify-content: flex-end;
    height: 300px;
    width: 300px;
    left: 1000px;
    bottom: 230px;
        }


body{
    background-color: blueviolet;
    }

.contenedor {
    border-style: solid;
    background-color: aquamarine;
    width: 80%;
    margin: 7%;
    bottom: 55%;
    
            }

       
h3 {
font-style: italic;

}

footer {
display: flex;
background-color: brown;
width: 80%;
margin: 7%;
justify-content: space-around;
}        